@model FIT5032_MonashHotels_Assignment.Models.Hotel_Data

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Map</h2>

<div id="map" style="height:300px"></div>
<table>
   
        <tr class="coordinates">
            <td>@Html.DisplayFor(model => model.hotel_name)</td>
            <td>@Html.DisplayFor(model => model.hotel_address)</td>
            <td class="description" hidden>
                @Html.DisplayFor(model => model.hotel_description)
            </td>
            <td class="latitude" hidden>
                @Html.DisplayFor(model => model.hotel_latitude)
            </td>
            <td class="longitude" hidden>
                @Html.DisplayFor(model => model.hotel_longitude)
            </td>
        </tr>
    
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>