@model FIT5032_MonashHotels_Assignment.Models.SendBulkEmailViewModel


@{
    ViewBag.Title = "Send Bulk Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Send_Bulk_Email", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    if (@ViewBag.Result != null)
    {
        <div class="alert alert-info" id="selectedEmails">@ViewBag.Result</div>

        var emails = ViewBag.Result.Split(',');

    }
    else
    {
        <div class="alert alert-warning" id="selectedEmails">No emails selects please enter them manually seperated by comma</div>
    }


    //Reference Week 8 tutorial
    <div class="form-horizontal">
        <h4>Please enter the subject and message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.Contents, new { @class = "form-control" })*@
                @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control", @id = "emailtextarea" } })
                @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.tos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tos, new { htmlAttributes = new { @class = "form-control", @id = "bulkEmails" } })
                @Html.ValidationMessageFor(model => model.tos, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p id="selectedEmailsInfo">No Emails Selected!</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>
        tinymce.init({
            selector: '#emailtextarea'
        });

        $(document).ready(function () {
            var listOfEmail = document.getElementById('selectedEmails').innerText;
            $('#bulkEmails').val(listOfEmail);

            // $('#selectedEmailsInfo').text(listOfEmail);

            console.log("ready!");
        })
    </script>
}